asgiref==3.5.2
certifi==2022.5.18
charset-normalizer==2.0.12
Django==3.2
django-cas-ng==4.3.0
idna==3.3
lxml==4.8.0
python-cas==1.6.0
pytz==2022.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.9
